.app-content {
  .sort-icon {
    margin-left: 5px;
  }
  .column-name {
    &:hover {
      cursor: pointer;
    }
  }
  table {
    tbody {
      display: block;
      max-height: 400px;
      overflow: auto;
      tr {
        display: table;
        width: 100%;
        table-layout: fixed;
      }
    }
    thead {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
  }
}
