.app-content {
  .sort-icon {
    margin-left: 5px;
  }
  .column-name {
    &:hover {
      cursor: pointer;
    }
  }
  table {
    tbody {
      // display: block;
      // max-height: 400px;
      // overflow: auto;
      tr {
        // display: table;
        // width: 100%;
        // table-layout: fixed;
      }
    }
    thead {
      // display: table;
      // width: 100%;
      // table-layout: fixed;
    }
  }
  .status-main,
  .page-title {
    // display: inline-block;
    box-sizing: border-box;
    white-space: pre-line !important;
    word-wrap: break-word;
  }
}

.btn-outline-primary {
  color: #c01920 !important;
  border-color: #c01920 !important;
  &:hover {
    color: #fff !important;
    background-color: #c01920 !important;
    border-color: #c01920 !important;
  }
}
.btn-primary {
  color: #fff !important;
  background-color: #c01920 !important;
  border-color: #c01920 !important;
}

.nav-tabs {
  .nav-link {
    font-size: 15px;
    &:hover {
      border-color: transparent !important;
    }
    &.active {
      color: #363746 !important;
      background-color: transparent !important;
      border: 0px solid transparent !important;
      border-bottom: 4px solid #c01920 !important;
    }
  }
}
.dataTables_wrapper {
  overflow-y: auto;
  height: 400px;
  .dataTable {
    thead {
      th {
        position: sticky;
        top: -2px;
        background: #fff;
      }
    }
    tbody {
      td {
        .status.status-published {
          color: #28c78a;
          background: transparent;
        }
      }
    }
  }
}
