.app-content {
  .sort-icon {
    margin-left: 5px;
  }
  .column-name {
    &:hover {
      cursor: pointer;
    }
  }
  table {
    tbody {
      display: block;
      max-height: 400px;
      overflow: auto;
      tr {
        display: table;
        width: 100%;
        table-layout: fixed;
      }
    }
    thead {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
  }
  .status-main,
  .page-title {
    // display: inline-block;
    box-sizing: border-box;
    white-space: pre-line !important;
    word-wrap: break-word;
  }
}

.btn-primary {
  color: #fff !important;
  background-color: #c01920 !important;
  border-color: #c01920 !important;
}
